<body>
    <div id="main">
        <div id="terminal"></div>
        <button onclick="window.location.reload()">Reload</button>
    </div>
    <footer>
    <!-- icons -->
        <div>
            <a href="https://github.com/jdhernandezS1/CI_PP3_LIBRARY" class="icon links" aria-label="go to Github repository" target="blank">
                <ion-icon name="logo-github"></ion-icon>
            </a>
        </div>
        <!-- icons -->
        <div>
            <a href="https://www.linkedin.com/in/david-hern%C3%A1ndez-b3764b171/" class="icon links" aria-label="go to my linkedin profile" target="blank">
                <ion-icon name="logo-linkedin"></ion-icon>
            </a>
        </div>
        <div>
            <a href="https://ci-pp3-lib.herokuapp.com/" class="icon links" aria-label="go to my herokuapp" target="blank">
                <ion-icon name="logo-python"></ion-icon>
            </a>
        </div>
        
    </footer>
    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('');
        term.writeln('');

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>
